    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">Alerts</h3>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <div class="uk-alert" data-uk-alert>
                                <a href="#" class="uk-alert-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </div>
                            <div class="uk-alert uk-alert-danger" data-uk-alert>
                                <a href="#" class="uk-alert-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </div>
                            <div class="uk-alert uk-alert-warning" data-uk-alert>
                                <a href="#" class="uk-alert-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </div>
                            <div class="uk-alert uk-alert-success" data-uk-alert>
                                <a href="#" class="uk-alert-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </div>
                            <div class="uk-alert uk-alert-info" data-uk-alert>
                                <a href="#" class="uk-alert-close uk-close"></a>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </div>
                            <div class="uk-alert uk-alert-large" data-uk-alert>
                                <a href="#" class="uk-alert-close uk-close"></a>
                                <h4 class="heading_b">Heading</h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto corporis deleniti, eaque et excepturi facere, in ipsa modi nemo obcaecati pariatur, quas quibusdam repudiandae rerum. Aspernatur cumque id odit.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">Badges</h3>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <p>Default</p>
                            <p>
                                <span class="uk-badge">Default</span>
                                <span class="uk-badge uk-badge-primary">Primary</span>
                                <span class="uk-badge uk-badge-success">Success</span>
                                <span class="uk-badge uk-badge-warning">Warning</span>
                                <span class="uk-badge uk-badge-danger">Danger</span>
                            </p>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <p>Notification</p>
                            <p>
                                <span class="uk-badge uk-badge-notification">12</span>
                                <span class="uk-badge uk-badge-notification uk-badge-primary">Primary</span>
                                <span class="uk-badge uk-badge-success uk-badge-notification">5</span>
                                <span class="uk-badge uk-badge-warning uk-badge-notification">26</span>
                                <span class="uk-badge uk-badge-danger uk-badge-notification">124</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1">
                            <h3 class="heading_a">Pagination</h3>
                            <ul class="uk-pagination">
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li class="uk-active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><span>&hellip;</span></li>
                                <li><a href="#">20</a></li>
                                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="uk-text-large">Alignment modifiers</p>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <ul class="uk-pagination uk-pagination-left">
                                <li><a href="#">1</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li class="uk-active"><span>10</span></li>
                                <li><a href="#">11</a></li>
                                <li><a href="#">12</a></li>
                                <li><span>&hellip;</span></li>
                                <li><a href="#">20</a></li>
                            </ul>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <ul class="uk-pagination uk-pagination-right">
                                <li><a href="#">1</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li class="uk-active"><span>10</span></li>
                                <li><a href="#">11</a></li>
                                <li><a href="#">12</a></li>
                                <li><span>&hellip;</span></li>
                                <li><a href="#">20</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <p class="uk-text-large">Previous and next</p>
                            <ul class="uk-pagination">
                                <li class="uk-pagination-previous"><a href="#"><i class="uk-icon-angle-double-left"></i> Previous</a></li>
                                <li class="uk-pagination-next"><a href="#">Next <i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
