<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_a uk-margin-bottom">Default</h3>
        <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 uk-margin-large-bottom hierarchical_show" data-uk-grid="{gutter: 20}" hierarchical-show>
            <div>
                <div class="md-card">
                    <div class="md-card-content">Qui quia quaerat facere voluptatibus nihil fugiat doloribus voluptatum vero consectetur doloremque aut a dolor quia quasi suscipit voluptatibus est ratione et ab corporis enim omnis nihil soluta cupiditate voluptate sunt corporis nisi ipsam qui voluptate quia voluptas quis.</div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content">A dolores sint sed ut excepturi sint id voluptas libero ea sed et iure perferendis vel aspernatur molestiae excepturi cupiditate impedit rerum dolorem facilis ad eos est vel et provident magni pariatur quo minus molestiae delectus sed.</div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content">Rerum non et aliquam beatae cupiditate aut sequi aut sapiente iste praesentium id nesciunt suscipit aut omnis iusto impedit qui odio id et quisquam quia dolore dolores aut veniam qui rem exercitationem.</div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content">Magni sed qui officia et totam hic qui amet nostrum error quas minima cum omnis et sit error est voluptas debitis.</div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content">Distinctio et provident non eum ut nesciunt omnis quia sapiente et debitis dolorem hic consequuntur autem eos non doloremque optio quae iusto voluptas optio magni vel voluptatum provident in quos consectetur minus nihil optio officiis.</div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content">Suscipit porro consequatur aut adipisci rerum qui at asperiores voluptatem voluptate consequatur inventore qui delectus voluptatibus nihil sit in repellendus ut eligendi ea sequi facilis qui maxime rerum ut possimus et ex.</div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content">Ea qui nobis enim ea aperiam nisi rerum harum et labore aut omnis odio sed sit qui dolorem labore esse molestias amet quam perferendis ut est quidem dolor ullam cupiditate inventore quaerat doloribus dolorem ratione voluptatem eaque.</div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content">Quam nostrum voluptatem laudantium asperiores dolorem quasi rerum quis non voluptatem voluptatem odit quam nemo nisi est maxime qui debitis quia eligendi error atque et aspernatur repudiandae ea eos hic fugit accusantium autem dolores placeat voluptas.</div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content">Eum ipsum numquam aliquid aut ut ut consequatur voluptatem est est consequatur autem et incidunt eos at laudantium qui omnis non culpa magni vero fuga officia voluptatem maxime.</div>
                </div>
            </div>

        </div>

        <h3 class="heading_a uk-margin-bottom">Filtering</h3>

        <ul id="filter" class="uk-subnav uk-subnav-pill">
            <li class="uk-active" data-uk-filter=""><a href="#">All</a></li>
            <li data-uk-filter="filter-a"><a href="#">Filter A</a></li>
            <li data-uk-filter="filter-b"><a href="#">Filter B</a></li>
        </ul>

        <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 uk-margin-large-bottom hierarchical_show" data-uk-grid="{gutter: 20, controls: '#filter'}" hierarchical-show>
            <div data-uk-filter="filter-a">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">A 1</h4>
                        Dolor commodi cum quia quia ut neque possimus perspiciatis veniam exercitationem dolorem ratione quo itaque molestias delectus perferendis earum sunt consequuntur excepturi maxime.
                    </div>
                </div>
            </div>
            <div data-uk-filter="filter-b">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">B 1</h4>
                        Veritatis doloremque voluptas corporis dolor vitae nihil soluta id voluptas impedit repudiandae delectus dicta ut dolorem voluptas dolore ut et.
                    </div>
                </div>
            </div>
            <div data-uk-filter="filter-a">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">A 2</h4>
                        Aut eaque aut in reiciendis ratione nostrum cupiditate omnis consequatur suscipit aut similique magni animi sunt magni odio rerum quam totam a mollitia eaque eligendi voluptatem quia minima dolorem sed et sit nesciunt ea consequatur saepe voluptatum similique vitae.
                    </div>
                </div>
            </div>
            <div data-uk-filter="filter-b">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">B 2</h4>
                        Error et magnam ad dolores voluptatem nihil aut sed facere sed exercitationem reiciendis maxime et omnis.
                    </div>
                </div>
            </div>
            <div data-uk-filter="filter-b">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">B 3</h4>
                        Possimus necessitatibus eos consectetur ducimus aut illo quia deleniti voluptate.
                    </div>
                </div>
            </div>
            <div data-uk-filter="filter-a">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">A 3</h4>
                        Rerum qui voluptatibus incidunt quaerat neque dolores fugiat exercitationem nam asperiores eum nam laboriosam in quos maxime est.
                    </div>
                </div>
            </div>
            <div data-uk-filter="filter-a,filter-b">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">A&B 4</h4>
                        Omnis saepe doloremque deserunt est et odit neque repudiandae sunt non deserunt natus molestiae aspernatur voluptas et.
                    </div>
                </div>
            </div>
        </div>

        <h3 class="heading_a uk-margin-bottom">Sorting</h3>

        <ul id="sort1" class="uk-subnav uk-subnav-pill">
            <li class="uk-active" data-uk-sort="my-category"><a href="#">Ascending</a></li>
            <li data-uk-sort="my-category:desc"><a href="#">Descending</a></li>
        </ul>

        <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 hierarchical_show" data-uk-grid="{gutter: 20, controls: '#sort1'}" hierarchical-show>
            <div data-my-category="a">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">A</h4>
                        Sint vitae consequuntur blanditiis dolorem odio fugit quam debitis itaque qui est et repellat.
                    </div>
                </div>
            </div>
            <div data-my-category="b">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">B</h4>
                        Voluptas quae commodi sint optio aperiam fuga est quasi voluptatum id non quia doloribus velit pariatur odit veritatis enim dolores ut.
                    </div>
                </div>
            </div>
            <div data-my-category="c">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">C</h4>
                        Quo pariatur exercitationem esse expedita quia illum aut quasi et magni fugit veniam tempora modi ipsum temporibus aliquid ut aut rerum libero tempora aut non corporis.
                    </div>
                </div>
            </div>
            <div data-my-category="d">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">D</h4>
                        Unde iste laudantium voluptatem quia est aut et similique dolor repellat minima iste est illum aliquid cupiditate sed in sit id consequatur aliquam quis odit quam fuga.
                    </div>
                </div>
            </div>
            <div data-my-category="e">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">E</h4>
                        Magni exercitationem a suscipit omnis itaque iure omnis dolor animi labore et est similique dolor sed dignissimos necessitatibus aspernatur nihil non consequatur aut illum ex reprehenderit ea dolore itaque ut aspernatur.
                    </div>
                </div>
            </div>
            <div data-my-category="f">
                <div class="md-card">
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">F</h4>
                        Qui perspiciatis aliquid earum laudantium aspernatur sunt assumenda aut repellendus quasi necessitatibus inventore commodi alias alias suscipit perferendis soluta expedita maxime nulla ex at quam id.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>