<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom">FAB Transitions</h3>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-small-1-2">
                <div class="md-card">
                    <div class="md-card-content" style="height: 300px;">
                        <h3 class="heading_a">Trigger</h3>
                        <div class="md-fab-wrapper md-fab-in-card">
                            <a class="md-fab" href="#"><i class="material-icons">&#xE52E;</i></a>
                            <a class="md-fab md-fab-success" href="#"><i class="material-icons">&#xE1B3;</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-small-1-2">
                <div class="md-card">
                    <div class="md-card-content" style="height: 300px;">
                        <h3 class="heading_a">Speed Dial</h3>
                        <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial">
                            <a class="md-fab md-fab-primary" href="#" md-fab-speed-dial><i class="material-icons">&#xE0BE;</i></a>
                            <div class="md-fab-wrapper-small">
                                <a class="md-fab md-fab-small md-fab-warning" href="#"><i class="material-icons">&#xE2C3;</i></a>
                                <a class="md-fab md-fab-small md-fab-danger" href="#"><i class="material-icons">&#xE153;</i></a>
                                <a class="md-fab md-fab-small md-fab-success" href="#"><i class="material-icons">&#xE149;</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-small-1-2">
                <div class="md-card">
                    <div class="md-card-content" style="height: 300px;">
                        <h3 class="heading_a">Toolbar</h3>
                        <div class="md-fab-wrapper md-fab-in-card">
                            <div class="md-fab md-fab-danger md-fab-toolbar" md-fab-toolbar>
                                <i class="material-icons">&#xE037;</i>
                                <div class="md-fab-toolbar-actions">
                                    <a href="#" data-uk-tooltip="{pos:'top'}" title="Rewind"><i class="material-icons md-color-white">&#xE020;</i></a>
                                    <a href="#" data-uk-tooltip="{pos:'top'}" title="Pause"><i class="material-icons md-color-white">&#xE034;</i></a>
                                    <a href="#" data-uk-tooltip="{pos:'top'}" title="Forward"><i class="material-icons md-color-white">&#xE01F;</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-small-1-2">
                <div class="md-card">
                    <div class="md-card-content" style="height: 300px;">
                        <h3 class="heading_a">Single Sheet</h3>
                        <div class="md-fab-wrapper md-fab-in-card">
                            <div class="md-fab md-fab-accent md-fab-sheet" md-fab-sheet>
                                <i class="material-icons">&#xE7FD;</i>
                                <div class="md-fab-sheet-actions">
                                    <a href="#" class="md-color-white"><i class="material-icons md-color-white">&#xE2C7;</i> Move to folder</a>
                                    <a href="#" class="md-color-white"><i class="material-icons md-color-white">&#xE254;</i> Edit</a>
                                    <a href="#" class="md-color-white"><i class="material-icons md-color-white">&#xE153;</i> Flag</a>
                                    <a href="#" class="md-color-white"><i class="material-icons md-color-white">&#xE872;</i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
