    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <div class="uk-margin-bottom">
                            <h3 class="heading_a">Material icons</h3>
                                <blockquote>
                                    <p>
                                        Material design system icons are simple, modern, friendly, and sometimes quirky.
                                        Each
                                        icon is created using our design guidelines to depict in simple and minimal forms
                                        the
                                        universal concepts used commonly throughout a UI. Ensuring readability and clarity
                                        at
                                        both large and small sizes, these icons have been optimized for beautiful display on
                                        all
                                        common platforms and display resolutions.
                                    </p>
                                </blockquote>
                                See the full set of material design icons at the <a href="https://www.google.com/design/icons/">material icons library</a>.
                            </div>
                            <p class="uk-text-large">Example:</p>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-3">
                                    <i class="material-icons md-48">&#xE88A;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;!-- For modern browsers. --&gt;
&lt;i class=&quot;material-icons&quot;&gt;home&lt;/i&gt;
&lt;!-- For IE9 or below. --&gt;
&lt;i class=&quot;material-icons&quot;&gt;&amp;#xE88A;&lt;/i&gt;</code></pre>
                                </div>
                                <div class="uk-width-large-1-3">
                                    <i class="material-icons md-48">&#xE32A;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;!-- For modern browsers. --&gt;
&lt;i class=&quot;material-icons&quot;&gt;security&lt;/i&gt;
&lt;!-- For IE9 or below. --&gt;
&lt;i class=&quot;material-icons&quot;&gt;&amp;#xE32A;&lt;/i&gt;</code></pre>
                                </div>
                                <div class="uk-width-large-1-3">
                                    <i class="material-icons md-48">&#xE0B9;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;!-- For modern browsers. --&gt;
&lt;i class=&quot;material-icons&quot;&gt;comment&lt;/i&gt;
&lt;!-- For IE9 or below. --&gt;
&lt;i class=&quot;material-icons&quot;&gt;&amp;#xE0B9;&lt;/i&gt;</code></pre>
                                </div>
                            </div>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-2">
                                    <p class="uk-text-large">Sizes:</p>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="material-icons">&#xE554;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;material-icons&quot;&gt;&amp;#xE554;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="material-icons md-24">&#xE554;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;material-icons md-24&quot;&gt;&amp;#xE554;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="material-icons md-36">&#xE554;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;material-icons md-36&quot;&gt;&amp;#xE554;&lt;/i&gt;</code></pre>
                                    </div>
                                    <i class="material-icons md-48">&#xE554;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;material-icons md-48&quot;&gt;&amp;#xE554;&lt;/i&gt;</code></pre>
                                </div>
                                <div class="uk-width-large-1-2">
                                    <p class="uk-text-large">Colors:</p>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="material-icons md-36 uk-text-primary">&#xE156;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;material-icons md-36 uk-text-primary&quot;&gt;&amp;#xE156;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="material-icons md-36 uk-text-success">&#xE156;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;material-icons md-36 uk-text-success&quot;&gt;&amp;#xE156;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="material-icons md-36 uk-text-danger">&#xE156;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;material-icons md-36 uk-text-danger&quot;&gt;&amp;#xE156;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="material-icons md-36 uk-text-warning">&#xE156;</i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;material-icons md-36 uk-text-warning&quot;&gt;&amp;#xE156;&lt;/i&gt;</code></pre>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <div class="uk-margin-bottom">
                                <h3 class="heading_a">UIKit Icons (Font Awesome)</h3>
                                <blockquote>
                                    <p>
                                        This component is using the fantastic <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> icon font, a project by Dave Gandy. Altogether Font Awesome provides more than 300 symbols and glyphs for web-related actions. Icon fonts are great, because they enable you to easily change color, size and more via CSS. They are scalable vector graphics, which means that they look great on high-resolution displays.
                                    </p>
                                </blockquote>
                                See the full set of <a href="http://getuikit.com/docs/icon.html#icon-mapping"> uikit icons</a>
                            </div>

                            <p class="uk-text-large">Example:</p>
                            <div class="uk-grid uk-margin-bottom" data-uk-grid-margin>
                                <div class="uk-width-large-1-3">
                                    <i class="uk-icon-bar-chart-o uk-icon-medium"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-bar-chart-o uk-icon-medium&quot;&gt;&lt;/i&gt;</code></pre>
                                </div>
                                <div class="uk-width-large-1-3">
                                    <i class="uk-icon-cutlery uk-icon-medium"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-cutlery uk-icon-medium&quot;&gt;&lt;/i&gt;</code></pre>
                                </div>
                                <div class="uk-width-large-1-3">
                                    <i class="uk-icon-sliders uk-icon-medium"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-sliders uk-icon-medium&quot;&gt;&lt;/i&gt;</code></pre>
                                </div>
                            </div>

                            <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>

                                <div class="uk-width-large-1-2">
                                    <p class="uk-text-large">Sizes:</p>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="uk-icon-file-picture-o"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-file-picture-o&quot;&gt;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="uk-icon-file-picture-o uk-icon-small"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-file-picture-o uk-icon-small&quot;&gt;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="uk-icon-file-picture-o uk-icon-medium"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-file-picture-o uk-icon-medium&quot;&gt;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="uk-icon-file-picture-o uk-icon-large"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-file-picture-o uk-icon-large&quot;&gt;&lt;/i&gt;</code></pre>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-2">
                                    <p class="uk-text-large">Spin modifier:</p>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-spinner uk-icon-medium uk-icon-spin&quot;&gt;&lt;/i&gt;</code></pre>
                                    </div>
                                    <div class="uk-margin-medium-bottom">
                                        <i class="uk-icon-refresh uk-icon-medium uk-icon-spin"></i>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;uk-icon-refresh uk-icon-medium uk-icon-spin&quot;&gt;&lt;/i&gt;</code></pre>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a uk-margin-bottom">
                        Flag Icons
                    </h3>
                    <ul class="inline-list uk-margin-bottom">
                        <li><span class="flag-AD" title=".flag-AD"></span></li>
                        <li><span class="flag-AE" title=".flag-AE"></span></li>
                        <li><span class="flag-AF" title=".flag-AF"></span></li>
                        <li><span class="flag-AG" title=".flag-AG"></span></li>
                        <li><span class="flag-AI" title=".flag-AI"></span></li>
                        <li><span class="flag-AL" title=".flag-AL"></span></li>
                        <li><span class="flag-AM" title=".flag-AM"></span></li>
                        <li><span class="flag-AN" title=".flag-AN"></span></li>
                        <li><span class="flag-AO" title=".flag-AO"></span></li>
                        <li><span class="flag-AQ" title=".flag-AQ"></span></li>
                        <li><span class="flag-AR" title=".flag-AR"></span></li>
                        <li><span class="flag-AS" title=".flag-AS"></span></li>
                        <li><span class="flag-AT" title=".flag-AT"></span></li>
                        <li><span class="flag-AU" title=".flag-AU"></span></li>
                        <li><span class="flag-AW" title=".flag-AW"></span></li>
                        <li><span class="flag-AX" title=".flag-AX"></span></li>
                        <li><span class="flag-AZ" title=".flag-AZ"></span></li>
                        <li><span class="flag-BA" title=".flag-BA"></span></li>
                        <li><span class="flag-BB" title=".flag-BB"></span></li>
                        <li><span class="flag-BD" title=".flag-BD"></span></li>
                        <li><span class="flag-BE" title=".flag-BE"></span></li>
                        <li><span class="flag-BF" title=".flag-BF"></span></li>
                        <li><span class="flag-BG" title=".flag-BG"></span></li>
                        <li><span class="flag-BH" title=".flag-BH"></span></li>
                        <li><span class="flag-BI" title=".flag-BI"></span></li>
                        <li><span class="flag-BJ" title=".flag-BJ"></span></li>
                        <li><span class="flag-BL" title=".flag-BL"></span></li>
                        <li><span class="flag-BM" title=".flag-BM"></span></li>
                        <li><span class="flag-BN" title=".flag-BN"></span></li>
                        <li><span class="flag-BO" title=".flag-BO"></span></li>
                        <li><span class="flag-BR" title=".flag-BR"></span></li>
                        <li><span class="flag-BS" title=".flag-BS"></span></li>
                        <li><span class="flag-BT" title=".flag-BT"></span></li>
                        <li><span class="flag-BW" title=".flag-BW"></span></li>
                        <li><span class="flag-BY" title=".flag-BY"></span></li>
                        <li><span class="flag-BZ" title=".flag-BZ"></span></li>
                        <li><span class="flag-CA" title=".flag-CA"></span></li>
                        <li><span class="flag-CC" title=".flag-CC"></span></li>
                        <li><span class="flag-CD" title=".flag-CD"></span></li>
                        <li><span class="flag-CF" title=".flag-CF"></span></li>
                        <li><span class="flag-CG" title=".flag-CG"></span></li>
                        <li><span class="flag-CH" title=".flag-CH"></span></li>
                        <li><span class="flag-CI" title=".flag-CI"></span></li>
                        <li><span class="flag-CK" title=".flag-CK"></span></li>
                        <li><span class="flag-CL" title=".flag-CL"></span></li>
                        <li><span class="flag-CM" title=".flag-CM"></span></li>
                        <li><span class="flag-CN" title=".flag-CN"></span></li>
                        <li><span class="flag-CO" title=".flag-CO"></span></li>
                        <li><span class="flag-CR" title=".flag-CR"></span></li>
                        <li><span class="flag-CU" title=".flag-CU"></span></li>
                        <li><span class="flag-CV" title=".flag-CV"></span></li>
                        <li><span class="flag-CW" title=".flag-CW"></span></li>
                        <li><span class="flag-CX" title=".flag-CX"></span></li>
                        <li><span class="flag-CY" title=".flag-CY"></span></li>
                        <li><span class="flag-CZ" title=".flag-CZ"></span></li>
                        <li><span class="flag-DE" title=".flag-DE"></span></li>
                        <li><span class="flag-DJ" title=".flag-DJ"></span></li>
                        <li><span class="flag-DK" title=".flag-DK"></span></li>
                        <li><span class="flag-DM" title=".flag-DM"></span></li>
                        <li><span class="flag-DO" title=".flag-DO"></span></li>
                        <li><span class="flag-DZ" title=".flag-DZ"></span></li>
                        <li><span class="flag-EC" title=".flag-EC"></span></li>
                        <li><span class="flag-EE" title=".flag-EE"></span></li>
                        <li><span class="flag-EG" title=".flag-EG"></span></li>
                        <li><span class="flag-EH" title=".flag-EH"></span></li>
                        <li><span class="flag-ER" title=".flag-ER"></span></li>
                        <li><span class="flag-ES" title=".flag-ES"></span></li>
                        <li><span class="flag-ET" title=".flag-ET"></span></li>
                        <li><span class="flag-EU" title=".flag-EU"></span></li>
                        <li><span class="flag-FI" title=".flag-FI"></span></li>
                        <li><span class="flag-FJ" title=".flag-FJ"></span></li>
                        <li><span class="flag-FK" title=".flag-FK"></span></li>
                        <li><span class="flag-FM" title=".flag-FM"></span></li>
                        <li><span class="flag-FO" title=".flag-FO"></span></li>
                        <li><span class="flag-FR" title=".flag-FR"></span></li>
                        <li><span class="flag-GA" title=".flag-GA"></span></li>
                        <li><span class="flag-GB" title=".flag-GB"></span></li>
                        <li><span class="flag-GD" title=".flag-GD"></span></li>
                        <li><span class="flag-GE" title=".flag-GE"></span></li>
                        <li><span class="flag-GG" title=".flag-GG"></span></li>
                        <li><span class="flag-GH" title=".flag-GH"></span></li>
                        <li><span class="flag-GI" title=".flag-GI"></span></li>
                        <li><span class="flag-GL" title=".flag-GL"></span></li>
                        <li><span class="flag-GM" title=".flag-GM"></span></li>
                        <li><span class="flag-GN" title=".flag-GN"></span></li>
                        <li><span class="flag-GQ" title=".flag-GQ"></span></li>
                        <li><span class="flag-GR" title=".flag-GR"></span></li>
                        <li><span class="flag-GS" title=".flag-GS"></span></li>
                        <li><span class="flag-GT" title=".flag-GT"></span></li>
                        <li><span class="flag-GU" title=".flag-GU"></span></li>
                        <li><span class="flag-GW" title=".flag-GW"></span></li>
                        <li><span class="flag-GY" title=".flag-GY"></span></li>
                        <li><span class="flag-HK" title=".flag-HK"></span></li>
                        <li><span class="flag-HN" title=".flag-HN"></span></li>
                        <li><span class="flag-HR" title=".flag-HR"></span></li>
                        <li><span class="flag-HT" title=".flag-HT"></span></li>
                        <li><span class="flag-HU" title=".flag-HU"></span></li>
                        <li><span class="flag-IC" title=".flag-IC"></span></li>
                        <li><span class="flag-ID" title=".flag-ID"></span></li>
                        <li><span class="flag-IE" title=".flag-IE"></span></li>
                        <li><span class="flag-IL" title=".flag-IL"></span></li>
                        <li><span class="flag-IM" title=".flag-IM"></span></li>
                        <li><span class="flag-IN" title=".flag-IN"></span></li>
                        <li><span class="flag-IQ" title=".flag-IQ"></span></li>
                        <li><span class="flag-IR" title=".flag-IR"></span></li>
                        <li><span class="flag-IS" title=".flag-IS"></span></li>
                        <li><span class="flag-IT" title=".flag-IT"></span></li>
                        <li><span class="flag-JE" title=".flag-JE"></span></li>
                        <li><span class="flag-JM" title=".flag-JM"></span></li>
                        <li><span class="flag-JO" title=".flag-JO"></span></li>
                        <li><span class="flag-JP" title=".flag-JP"></span></li>
                        <li><span class="flag-KE" title=".flag-KE"></span></li>
                        <li><span class="flag-KG" title=".flag-KG"></span></li>
                        <li><span class="flag-KH" title=".flag-KH"></span></li>
                        <li><span class="flag-KI" title=".flag-KI"></span></li>
                        <li><span class="flag-KM" title=".flag-KM"></span></li>
                        <li><span class="flag-KN" title=".flag-KN"></span></li>
                        <li><span class="flag-KP" title=".flag-KP"></span></li>
                        <li><span class="flag-KR" title=".flag-KR"></span></li>
                        <li><span class="flag-KW" title=".flag-KW"></span></li>
                        <li><span class="flag-KY" title=".flag-KY"></span></li>
                        <li><span class="flag-KZ" title=".flag-KZ"></span></li>
                        <li><span class="flag-LA" title=".flag-LA"></span></li>
                        <li><span class="flag-LB" title=".flag-LB"></span></li>
                        <li><span class="flag-LC" title=".flag-LC"></span></li>
                        <li><span class="flag-LI" title=".flag-LI"></span></li>
                        <li><span class="flag-LK" title=".flag-LK"></span></li>
                        <li><span class="flag-LR" title=".flag-LR"></span></li>
                        <li><span class="flag-LS" title=".flag-LS"></span></li>
                        <li><span class="flag-LT" title=".flag-LT"></span></li>
                        <li><span class="flag-LU" title=".flag-LU"></span></li>
                        <li><span class="flag-LV" title=".flag-LV"></span></li>
                        <li><span class="flag-LY" title=".flag-LY"></span></li>
                        <li><span class="flag-MA" title=".flag-MA"></span></li>
                        <li><span class="flag-MC" title=".flag-MC"></span></li>
                        <li><span class="flag-MD" title=".flag-MD"></span></li>
                        <li><span class="flag-ME" title=".flag-ME"></span></li>
                        <li><span class="flag-MF" title=".flag-MF"></span></li>
                        <li><span class="flag-MG" title=".flag-MG"></span></li>
                        <li><span class="flag-MH" title=".flag-MH"></span></li>
                        <li><span class="flag-MK" title=".flag-MK"></span></li>
                        <li><span class="flag-ML" title=".flag-ML"></span></li>
                        <li><span class="flag-MM" title=".flag-MM"></span></li>
                        <li><span class="flag-MN" title=".flag-MN"></span></li>
                        <li><span class="flag-MO" title=".flag-MO"></span></li>
                        <li><span class="flag-MP" title=".flag-MP"></span></li>
                        <li><span class="flag-MQ" title=".flag-MQ"></span></li>
                        <li><span class="flag-MR" title=".flag-MR"></span></li>
                        <li><span class="flag-MS" title=".flag-MS"></span></li>
                        <li><span class="flag-MT" title=".flag-MT"></span></li>
                        <li><span class="flag-MU" title=".flag-MU"></span></li>
                        <li><span class="flag-MV" title=".flag-MV"></span></li>
                        <li><span class="flag-MW" title=".flag-MW"></span></li>
                        <li><span class="flag-MX" title=".flag-MX"></span></li>
                        <li><span class="flag-MY" title=".flag-MY"></span></li>
                        <li><span class="flag-MZ" title=".flag-MZ"></span></li>
                        <li><span class="flag-NA" title=".flag-NA"></span></li>
                        <li><span class="flag-NC" title=".flag-NC"></span></li>
                        <li><span class="flag-NE" title=".flag-NE"></span></li>
                        <li><span class="flag-NF" title=".flag-NF"></span></li>
                        <li><span class="flag-NG" title=".flag-NG"></span></li>
                        <li><span class="flag-NI" title=".flag-NI"></span></li>
                        <li><span class="flag-NL" title=".flag-NL"></span></li>
                        <li><span class="flag-NO" title=".flag-NO"></span></li>
                        <li><span class="flag-NP" title=".flag-NP"></span></li>
                        <li><span class="flag-NR" title=".flag-NR"></span></li>
                        <li><span class="flag-NU" title=".flag-NU"></span></li>
                        <li><span class="flag-NZ" title=".flag-NZ"></span></li>
                        <li><span class="flag-OM" title=".flag-OM"></span></li>
                        <li><span class="flag-PA" title=".flag-PA"></span></li>
                        <li><span class="flag-PE" title=".flag-PE"></span></li>
                        <li><span class="flag-PF" title=".flag-PF"></span></li>
                        <li><span class="flag-PG" title=".flag-PG"></span></li>
                        <li><span class="flag-PH" title=".flag-PH"></span></li>
                        <li><span class="flag-PK" title=".flag-PK"></span></li>
                        <li><span class="flag-PL" title=".flag-PL"></span></li>
                        <li><span class="flag-PN" title=".flag-PN"></span></li>
                        <li><span class="flag-PR" title=".flag-PR"></span></li>
                        <li><span class="flag-PS" title=".flag-PS"></span></li>
                        <li><span class="flag-PT" title=".flag-PT"></span></li>
                        <li><span class="flag-PW" title=".flag-PW"></span></li>
                        <li><span class="flag-PY" title=".flag-PY"></span></li>
                        <li><span class="flag-QA" title=".flag-QA"></span></li>
                        <li><span class="flag-RO" title=".flag-RO"></span></li>
                        <li><span class="flag-RS" title=".flag-RS"></span></li>
                        <li><span class="flag-RU" title=".flag-RU"></span></li>
                        <li><span class="flag-RW" title=".flag-RW"></span></li>
                        <li><span class="flag-SA" title=".flag-SA"></span></li>
                        <li><span class="flag-SB" title=".flag-SB"></span></li>
                        <li><span class="flag-SC" title=".flag-SC"></span></li>
                        <li><span class="flag-SD" title=".flag-SD"></span></li>
                        <li><span class="flag-SE" title=".flag-SE"></span></li>
                        <li><span class="flag-SG" title=".flag-SG"></span></li>
                        <li><span class="flag-SH" title=".flag-SH"></span></li>
                        <li><span class="flag-SI" title=".flag-SI"></span></li>
                        <li><span class="flag-SK" title=".flag-SK"></span></li>
                        <li><span class="flag-SL" title=".flag-SL"></span></li>
                        <li><span class="flag-SM" title=".flag-SM"></span></li>
                        <li><span class="flag-SN" title=".flag-SN"></span></li>
                        <li><span class="flag-SO" title=".flag-SO"></span></li>
                        <li><span class="flag-SR" title=".flag-SR"></span></li>
                        <li><span class="flag-SS" title=".flag-SS"></span></li>
                        <li><span class="flag-ST" title=".flag-ST"></span></li>
                        <li><span class="flag-SV" title=".flag-SV"></span></li>
                        <li><span class="flag-SY" title=".flag-SY"></span></li>
                        <li><span class="flag-SZ" title=".flag-SZ"></span></li>
                        <li><span class="flag-TC" title=".flag-TC"></span></li>
                        <li><span class="flag-TD" title=".flag-TD"></span></li>
                        <li><span class="flag-TF" title=".flag-TF"></span></li>
                        <li><span class="flag-TG" title=".flag-TG"></span></li>
                        <li><span class="flag-TH" title=".flag-TH"></span></li>
                        <li><span class="flag-TJ" title=".flag-TJ"></span></li>
                        <li><span class="flag-TK" title=".flag-TK"></span></li>
                        <li><span class="flag-TL" title=".flag-TL"></span></li>
                        <li><span class="flag-TM" title=".flag-TM"></span></li>
                        <li><span class="flag-TN" title=".flag-TN"></span></li>
                        <li><span class="flag-TO" title=".flag-TO"></span></li>
                        <li><span class="flag-TR" title=".flag-TR"></span></li>
                        <li><span class="flag-TT" title=".flag-TT"></span></li>
                        <li><span class="flag-TV" title=".flag-TV"></span></li>
                        <li><span class="flag-TW" title=".flag-TW"></span></li>
                        <li><span class="flag-TZ" title=".flag-TZ"></span></li>
                        <li><span class="flag-UA" title=".flag-UA"></span></li>
                        <li><span class="flag-UG" title=".flag-UG"></span></li>
                        <li><span class="flag-US" title=".flag-US"></span></li>
                        <li><span class="flag-UY" title=".flag-UY"></span></li>
                        <li><span class="flag-UZ" title=".flag-UZ"></span></li>
                        <li><span class="flag-VA" title=".flag-VA"></span></li>
                        <li><span class="flag-VC" title=".flag-VC"></span></li>
                        <li><span class="flag-VE" title=".flag-VE"></span></li>
                        <li><span class="flag-VG" title=".flag-VG"></span></li>
                        <li><span class="flag-VI" title=".flag-VI"></span></li>
                        <li><span class="flag-VN" title=".flag-VN"></span></li>
                        <li><span class="flag-VU" title=".flag-VU"></span></li>
                        <li><span class="flag-WF" title=".flag-WF"></span></li>
                        <li><span class="flag-WS" title=".flag-WS"></span></li>
                        <li><span class="flag-YE" title=".flag-YE"></span></li>
                        <li><span class="flag-YT" title=".flag-YT"></span></li>
                        <li><span class="flag-ZA" title=".flag-ZA"></span></li>
                        <li><span class="flag-ZM" title=".flag-ZM"></span></li>
                        <li><span class="flag-ZW" title=".flag-ZW"></span></li>
                        <li><span class="flag-_abkhazia" title=".flag-_abkhazia"></span></li>
                        <li><span class="flag-_basque-country" title=".flag-_basque-country"></span></li>
                        <li><span class="flag-_british-antarctic-territory" title=".flag-_british-antarctic-territory"></span></li>
                        <li><span class="flag-_commonwealth" title=".flag-_commonwealth"></span></li>
                        <li><span class="flag-_england" title=".flag-_england"></span></li>
                        <li><span class="flag-_gosquared" title=".flag-_gosquared"></span></li>
                        <li><span class="flag-_kosovo" title=".flag-_kosovo"></span></li>
                        <li><span class="flag-_mars" title=".flag-_mars"></span></li>
                        <li><span class="flag-_nagorno-karabakh" title=".flag-_nagorno-karabakh"></span></li>
                        <li><span class="flag-_nato" title=".flag-_nato"></span></li>
                        <li><span class="flag-_northern-cyprus" title=".flag-_northern-cyprus"></span></li>
                        <li><span class="flag-_olympics" title=".flag-_olympics"></span></li>
                        <li><span class="flag-_red-cross" title=".flag-_red-cross"></span></li>
                        <li><span class="flag-_scotland" title=".flag-_scotland"></span></li>
                        <li><span class="flag-_somaliland" title=".flag-_somaliland"></span></li>
                        <li><span class="flag-_south-ossetia" title=".flag-_south-ossetia"></span></li>
                        <li><span class="flag-_united-nations" title=".flag-_united-nations"></span></li>
                        <li><span class="flag-_unknown" title=".flag-_unknown"></span></li>
                        <li><span class="flag-_wales" title=".flag-_wales"></span></li>
                    </ul>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;i class=&quot;flag-[country code eg. GB, US]&quot;&gt;&lt;/i&gt;</code></pre>
                </div>
            </div>

        </div>
    </div>
