    <div id="page_content">
        <div id="page_content_inner">

            <h3 class="heading_b uk-margin-bottom">Tabs</h3>
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-disabled"><a href="#">Disabled</a></li>
                            </ul>
                            <ul id="tabs_1" class="uk-switcher uk-margin">
                                <li>Content 1</li>
                                <li>Content 2</li>
                                <li>Content 3</li>
                                <li>Content 4</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="heading_a uk-margin-bottom">Horizontal modifiers</h4>
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <ul id="tabs_3" class="uk-switcher uk-margin">
                                <li>Content 1</li>
                                <li>Content 2</li>
                                <li>Content 3</li>
                                <li>Content 4</li>
                            </ul>
                            <ul class="uk-tab uk-tab-bottom" data-uk-tab="{connect:'#tabs_3'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-disabled"><a href="#">Disabled</a></li>
                            </ul>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <ul class="uk-tab uk-tab-flip" data-uk-tab="{connect:'#tabs_2'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-disabled"><a href="#">Disabled</a></li>
                            </ul>
                            <ul id="tabs_2" class="uk-switcher uk-margin">
                                <li>Content 1</li>
                                <li>Content 2</li>
                                <li>Content 3</li>
                                <li>Content 4</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <h4 class="heading_a uk-margin-bottom">Justify tabs</h4>
                    <div class="md-card">
                        <div class="md-card-content">
                            <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#tabs_4'}">
                                <li class="uk-width-1-3 uk-active"><a href="#">Active</a></li>
                                <li class="uk-width-1-3"><a href="#">Item</a></li>
                                <li class="uk-width-1-3"><a href="#">Item</a></li>
                            </ul>
                            <ul id="tabs_4" class="uk-switcher uk-margin">
                                <li>Content 1</li>
                                <li>Content 2</li>
                                <li>Content 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <h4 class="heading_a uk-margin-bottom">Center tabs</h4>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-tab-center">
                                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_5'}">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                            <ul id="tabs_5" class="uk-switcher uk-margin">
                                <li>Content 1</li>
                                <li>Content 2</li>
                                <li>Content 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="heading_a uk-margin-bottom">Vertical modifiers</h4>
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                        <div class="uk-width-large-1-2">
                            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                                <div class="uk-width-1-3">
                                    <ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#tabs_6'}">
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                                <div class="uk-width-2-3">
                                    <ul id="tabs_6" class="uk-switcher uk-margin-small-top">
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at, dignissimos esse eveniet id itaque laudantium modi nisi perferendis placeat provident quia recusandae reprehenderit sed sit soluta voluptas! Architecto, laboriosam?</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, autem, blanditiis consequatur cumque dicta distinctio ea esse eum exercitationem explicabo id incidunt molestiae numquam quae rem repellat reprehenderit tempore voluptatem!</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam architecto, atque aut autem dicta dolorem enim fugit impedit maxime nam, nesciunt provident quibusdam rerum sed similique voluptate voluptatibus. Laudantium.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-large-1-2">
                            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                                <div class="uk-width-2-3">
                                    <ul id="tabs_7" class="uk-switcher uk-margin-small-top">
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at, dignissimos esse eveniet id itaque laudantium modi nisi perferendis placeat provident quia recusandae reprehenderit sed sit soluta voluptas! Architecto, laboriosam?</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, autem, blanditiis consequatur cumque dicta distinctio ea esse eum exercitationem explicabo id incidunt molestiae numquam quae rem repellat reprehenderit tempore voluptatem!</li>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam architecto, atque aut autem dicta dolorem enim fugit impedit maxime nam, nesciunt provident quibusdam rerum sed similique voluptate voluptatibus. Laudantium.</li>
                                    </ul>
                                </div>
                                <div class="uk-width-1-3">
                                    <ul class="uk-tab uk-tab-right" data-uk-tab="{connect:'#tabs_7'}">
                                        <li><a href="#">Item</a></li>
                                        <li class="uk-active"><a href="#">Active</a></li>
                                        <li><a href="#">Item</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="heading_a uk-margin-bottom">Animations</h4>
            <div class="uk-grid" >
                <div class="uk-width-medium-1-3">
                    <div class="md-card" data-uk-grid-margin>
                        <div class="md-card-content">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim1', animation:'scale'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                            <ul id="tabs_anim1" class="uk-switcher uk-margin">
                                <li>Ad qui magni repellat nesciunt itaque nihil dolorem dolores voluptate in illo quia placeat in nihil nobis.</li>
                                <li>Pariatur sint necessitatibus laborum nihil temporibus ut cupiditate non sunt reiciendis qui alias nesciunt dignissimos eius possimus culpa in excepturi inventore molestiae ipsam quas ut doloremque repudiandae modi et earum et illo voluptatum quod.</li>
                                <li>Beatae laboriosam magnam et et occaecati ipsum ut omnis libero ut enim in magnam distinctio id doloribus nemo quia est saepe sint nesciunt omnis perspiciatis neque praesentium voluptatem iste odit ut officia quo laboriosam.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="md-card" data-uk-grid-margin>
                        <div class="md-card-content">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim2', animation:'slide-horizontal'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                            <ul id="tabs_anim2" class="uk-switcher uk-margin">
                                <li>Temporibus aut error at quis provident labore repellat vel repellendus non nemo voluptas itaque est dolor molestiae ex quia.</li>
                                <li>Molestiae et quia vel tenetur dolor assumenda labore enim nihil recusandae sequi ut error mollitia et magni sapiente maiores doloribus incidunt in quam voluptas vel quis sint eos cumque rerum nihil et unde assumenda voluptate.</li>
                                <li>Ducimus quod delectus et omnis voluptas eius beatae eligendi aut et et velit nostrum quibusdam qui officiis nobis eligendi ipsum et qui nihil expedita voluptate non suscipit est culpa quo impedit et fugit a nihil aliquid eius recusandae nulla error dolores modi.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="md-card" data-uk-grid-margin>
                        <div class="md-card-content">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim3', animation:'slide-vertical'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                            <ul id="tabs_anim3" class="uk-switcher uk-margin">
                                <li>Ipsam necessitatibus est explicabo fuga quae rem autem aspernatur reiciendis iusto quod magnam architecto est vel blanditiis ea quos cupiditate et et cumque cumque optio a inventore voluptas autem sed voluptate distinctio accusamus.</li>
                                <li>Laboriosam sed aut facilis odio voluptates voluptatem hic eaque dolor rerum praesentium perspiciatis maiores et voluptatum ad labore minus eius ipsam reiciendis sed nobis nobis quisquam velit vero voluptatum aut.</li>
                                <li>Repudiandae facilis sunt doloribus dolorum sint iusto officiis non deleniti qui natus voluptatem numquam porro ipsum repellat sed est hic ipsam et reprehenderit quisquam velit in qui eligendi et animi voluptatem iusto consectetur a impedit nisi est.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid" >
                <div class="uk-width-medium-1-3">
                    <div class="md-card" data-uk-grid-margin>
                        <div class="md-card-content">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim4', animation:'slide-left'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                            <ul id="tabs_anim4" class="uk-switcher uk-margin">
                                <li>Deserunt ipsam molestiae et doloremque non quae ut quas vel quidem explicabo numquam placeat minus inventore neque veniam et eum quod ea suscipit consequuntur aut ipsam impedit quia nam hic ut.</li>
                                <li>Inventore voluptatem sunt est reiciendis eaque facilis commodi eius similique necessitatibus dolores natus placeat iusto ea ut iure sunt commodi at impedit autem voluptas in corrupti praesentium non assumenda enim voluptas architecto soluta.</li>
                                <li>Aperiam sunt praesentium voluptate quia quidem possimus ut animi id ut non cupiditate eum optio rerum architecto tempora aut aut quas quas quia ut accusantium et nemo minus error est qui blanditiis quia cupiditate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="md-card" data-uk-grid-margin>
                        <div class="md-card-content">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim5', animation:'slide-right'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                            <ul id="tabs_anim5" class="uk-switcher uk-margin">
                                <li>Perferendis possimus natus magni sint quia molestias quas voluptas rerum et necessitatibus omnis dolor accusamus accusamus qui voluptatibus error eos molestiae voluptas eveniet ab blanditiis qui aut sit aut reprehenderit et qui ratione facere.</li>
                                <li>Est cupiditate quia quidem reiciendis sunt eum aut consequatur voluptatum pariatur eius quisquam nisi ut neque esse nostrum tempora in architecto totam esse ratione aut qui voluptas quis explicabo voluptas laboriosam ea quia sed qui molestiae velit deserunt.</li>
                                <li>Labore autem harum aliquam eaque vero itaque a corporis accusantium commodi itaque quia exercitationem autem veritatis rem dolores et consequatur deserunt dolores autem fuga consequatur.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="md-card" data-uk-grid-margin>
                        <div class="md-card-content">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim6', animation:'slide-bottom'}">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                            <ul id="tabs_anim6" class="uk-switcher uk-margin">
                                <li>Nemo corrupti natus voluptas dolores architecto eum fugiat similique maxime accusantium possimus maiores ex quia consequatur aut rerum corrupti voluptatem et similique ullam et voluptas voluptates.</li>
                                <li>Sapiente distinctio nobis culpa consectetur consequatur architecto vitae impedit error labore nihil in ipsa delectus labore velit nam quo placeat et et molestias consequatur aspernatur unde non cum sunt optio iste nam itaque quos at dolor dolores nisi nesciunt fugit.</li>
                                <li>Quia ipsa aliquid suscipit labore numquam velit voluptates odit et quidem aut fuga doloribus et neque magnam commodi consequatur.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>