    <div id="page_content">
        <div id="page_content_inner">

            <h3 class="heading_b uk-margin-bottom">Typography</h3>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <h1>
                                h1 heading
                            </h1>
                            <h2>
                                h2 heading
                            </h2>
                            <h3>
                                h3 heading
                            </h3>
                            <h4>
                                h4 heading
                            </h4>
                            <h5>
                                h5 heading
                            </h5>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <h2 class="heading_a uk-margin-bottom">
                                .heading_a
                                <span class="sub-heading">.heading_a > span.sub-heading</span>
                            </h2>
                            <h2 class="heading_b uk-margin-bottom">
                                .heading_b
                                <span class="sub-heading">.heading_b > span.sub-heading</span>
                            </h2>
                            <h2 class="heading_c uk-margin-bottom">
                                .heading_c
                                <span class="sub-heading">.heading_c > span.sub-heading</span>
                            </h2>
                        </div>
                    </div>
                    <hr class="uk-grid-divider">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <div class="uk-overflow-container">
                                <table class="uk-table uk-table-middle">
                                    <thead>
                                        <tr>
                                            <th>Class</th>
                                            <th>Example</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><code>.uk-text-small</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-small uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-large</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-large uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-upper</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-upper uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-italic</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-italic uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-bold</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-bold uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-muted</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-muted uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-primary</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-primary uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-danger</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-danger uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-warning</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-warning uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-success</code></td>
                                        <td class="uk-text-nowrap"><p class="uk-text-success uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    <tr>
                                        <td><code>.uk-text-contrast</code></td>
                                        <td class="uk-text-nowrap" style="background:#333"><p class="uk-text-contrast uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, libero.</p> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
