<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <form id="wizard_advanced_form" class="uk-form-stacked">
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">
                        <wz-step title="Owner Information" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Owner Information
                                <span class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                            </h2>
                            <hr class="md-hr"/>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <label for="wizard_fullname">Full Name<span class="req">*</span></label>
                                    <input type="text" name="wizard_fullname" id="wizard_fullname" required class="md-input"  md-input ng-model="wizard.w1_full_name" />
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <label for="wizard_address">Address<span class="req">*</span></label>
                                    <input type="text" name="wizard_address" id="wizard_address" required class="md-input" md-input ng-model="wizard.w1_address" />
                                </div>
                            </div>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="wizard_birth">Birth Date<span class="req">*</span></label>
                                    <input type="text" name="wizard_birth" id="wizard_birth" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_birth_date"/>
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="wizard_birth_place">Place of Birth<span class="req">*</span></label>
                                    <input type="text" name="wizard_birth_place" id="wizard_birth_place" required class="md-input" md-input ng-model="wizard.w1_birth_place" />
                                </div>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label class="uk-form-label">Martial Status<span class="req">*</span></label>
                                    <span class="icheck-inline">
                                        <input type="radio" name="wizard_status" id="wizard_status_married" required value="married" icheck ng-model="wizard.w1_martial" />
                                        <label for="wizard_status_married" class="inline-label">Married</label>
                                    </span>
                                    <span class="icheck-inline">
                                        <input type="radio" name="wizard_status" id="wizard_status_single" class="wizard-icheck" value="single" icheck ng-model="wizard.w1_martial" />
                                        <label for="wizard_status_single" class="inline-label">Single</label>
                                    </span>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-large-1-4" data-uk-grid-margin>
                                <div class="parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="material-icons">&#xE0CD;</i></a>
                                        </span>
                                        <label for="wizard_phone">Phone Number</label>
                                        <input type="text" class="md-input" name="wizard_phone" id="wizard_phone" md-input ng-model="wizard.w1_phone" />
                                    </div>
                                </div>
                                <div class=" parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="material-icons">&#xE0BE;</i></a>
                                        </span>
                                        <label for="wizard_email">Email</label>
                                        <input type="text" class="md-input" name="wizard_email" id="wizard_email" md-input ng-model="wizard.w1_email" />
                                    </div>
                                </div>
                                <div class="parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="uk-icon-skype"></i></a>
                                        </span>
                                        <label for="wizard_skype">Skype</label>
                                        <input type="text" class="md-input" name="wizard_skype" id="wizard_skype" md-input ng-model="wizard.w1_skype" />
                                    </div>
                                </div>
                                <div class="parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="uk-icon-twitter"></i></a>
                                        </span>
                                        <label for="wizard_twitter">Twitter</label>
                                        <input type="text" class="md-input" name="wizard_twitter" id="wizard_twitter" md-input ng-model="wizard.w1_twitter" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Continue</button>
                            </div>
                        </wz-step>
                        <wz-step title="Vehicle information" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Vehicle information
                                <span class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                            </h2>
                            <hr class="md-hr"/>
                            <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-4" data-uk-grid-margin>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_title_number">Title Number<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_title_number" id="wizard_vehicle_title_number" required class="md-input" md-input ng-model="wizard.w1_title_number" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_vin">VIN<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_vin" id="wizard_vehicle_vin" required class="md-input" md-input ng-model="wizard.w1_vin"/>
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_plate_number">Current Plate Number<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_plate_number" id="wizard_vehicle_plate_number" required class="md-input"  md-input ng-model="wizard.w1_current_plate" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_expiration">Expiration Date<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_expiration" id="wizard_vehicle_expiration" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_expiration_date" />
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-xlarge-1-6" data-uk-grid-margin>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_year">Registration Year</label>
                                    <input type="text" name="wizard_vehicle_year" id="wizard_vehicle_year" class="md-input" data-uk-datepicker="{format:'MM.YYYY'}" md-input ng-model="wizard.w1_registration_year" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_make">Make</label>
                                    <input type="text" name="wizard_vehicle_make" id="wizard_vehicle_make" class="md-input" md-input ng-model="wizard.w1_make" md-input ng-model="wizard.w1_vehicle_make" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_model">Model<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_model" id="wizard_vehicle_model" required class="md-input" md-input ng-model="wizard.w1_model" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_body">Body Type<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_body" id="wizard_vehicle_body" required class="md-input" md-input ng-model="wizard.w1_body_type" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_axles">Axles</label>
                                    <input type="text" name="wizard_vehicle_axles" id="wizard_vehicle_axles" class="md-input" md-input ng-model="wizard.w1_axles" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_vehicle_fuel">Fuel<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_fuel" id="wizard_vehicle_fuel" required class="md-input" md-input ng-model="wizard.w1_fuel" />
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Continue</button>
                            </div>
                        </wz-step>
                        <wz-step title="Additional information" template="app/templates/wizard.step.tpl.html">
                            <h2 class="heading_a">
                                Additional information
                                <span class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                            </h2>
                            <hr class="md-hr"/>
                            <div class="uk-grid uk-margin-large-bottom" data-uk-grid-margin>
                                <div class="uk-width-1-1">
                                    <label class="uk-form-label">Location Where Vehicle is Principally Garaged</label>
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-2-10 parsley-row">
                                            <span class="icheck-inline uk-margin-top uk-margin-left">
                                                <input type="radio" name="wizard_additional_location" id="wizard_status_location_city" value="City" icheck ng-model="wizard.w1_garage_loacation" />
                                                <label for="wizard_status_location_city" class="inline-label">City</label>
                                            </span>
                                        </div>
                                        <div class="uk-width-medium-2-10 parsley-row">
                                            <span class="icheck-inline uk-margin-top uk-margin-left">
                                                <input type="radio" name="wizard_additional_location" id="wizard_status_location_county" class="wizard-icheck" value="County" icheck ng-model="wizard.w1_garage_loacation" />
                                                <label for="wizard_status_location_county" class="inline-label">County</label>
                                            </span>
                                        </div>
                                        <div class="uk-width-medium-3-10 parsley-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                   <input type="radio" name="wizard_additional_location" class="wizard-icheck" value="town" icheck ng-model="wizard.w1_garage_loacation" />
                                                </span>
                                                <label for="wizard_location_town">Town of</label>
                                                <input type="text" class="md-input" name="wizard_location_town" id="wizard_location_town" md-input ng-model="wizard.w1_garage_loacation_town" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="uk-alert uk-alert-success">If you would like your registration renewals sent to an address other than your residence/business address, enter it below.</span>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-2-6 parsley-row">
                                    <label for="wizard_vehicle_registration_address">Registration Mailing Address</label>
                                    <input type="text" name="wizard_vehicle_registration_address" id="wizard_vehicle_registration_address" required class="md-input" md-input ng-model="wizard.w1_registration_mailing" />
                                </div>
                                <div class="uk-width-medium-1-6 parsley-row">
                                    <label for="wizard_vehicle_registration_city">City<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_registration_city" id="wizard_vehicle_registration_city" required class="md-input" md-input ng-model="wizard.w1_registration_city" />
                                </div>
                                <div class="uk-width-medium-1-6 parsley-row">
                                    <label for="wizard_vehicle_registration_state">State<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_registration_state" id="wizard_vehicle_registration_state" required class="md-input" md-input ng-model="wizard.w1_registration_state" />
                                </div>
                                <div class="uk-width-medium-1-6 parsley-row">
                                    <label for="wizard_vehicle_registration_zip">ZIP<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_registration_zip" id="wizard_vehicle_registration_zip" required class="md-input" md-input ng-model="wizard.w1_registration_zip" />
                                </div>
                                <div class="uk-width-medium-1-6 parsley-row">
                                    <label for="wizard_vehicle_registration_code">Code<span class="req">*</span></label>
                                    <input type="text" name="wizard_vehicle_registration_code" id="wizard_vehicle_registration_code" required class="md-input" md-input ng-model="wizard.w1_registration_code" />
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Submit</button>
                            </div>
                        </wz-step>
                    </wizard>

                </form>
            </div>
        </div>

    </div>
</div>
