<div id="page_content">
    <div id="page_heading">
        <h1>{{product.manufacturer}} {{product.name}}, {{product.memory}}, {{product.color}}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small">{{product.sn}}</span>
    </div>
    <div id="page_content_inner">

        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Photos
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <div class="uk-margin-bottom uk-text-center">
                            <img ng-src="{{product.main_img}}" alt="" class="img_medium" />
                        </div>
                        <ul class="uk-grid uk-grid-width-small-1-3 uk-text-center" data-uk-grid-margin>
                            <li ng-repeat="image in product.other_img">
                                <img ng-src="{{image}}" alt="" class="img_small"/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Data
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <ul class="md-list">
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Price</span>
                                    <span class="md-list-heading uk-text-large uk-text-success">{{product.price | currency : "$" : 2}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Tax</span>
                                    <span class="md-list-heading uk-text-large">{{product.tax}} %</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">Quantity</span>
                                    <span class="md-list-heading uk-text-large">{{product.quantity}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="uk-text-small uk-text-muted uk-display-block">SKU</span>
                                    <span class="md-list-heading uk-text-large">{{product.sku}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Details
                        </h3>
                    </div>
                    <div class="md-card-content large-padding">
                        <div class="uk-grid uk-grid-divider uk-grid-medium">
                            <div class="uk-width-large-1-2">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-large-1-3">
                                        <span class="uk-text-muted uk-text-small">Product Name</span>
                                    </div>
                                    <div class="uk-width-large-2-3">
                                        <span class="uk-text-large uk-text-middle"><a href="#">{{product.name}}</a></span>
                                    </div>
                                </div>
                                <hr class="uk-grid-divider">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-large-1-3">
                                        <span class="uk-text-muted uk-text-small">Manufacturer</span>
                                    </div>
                                    <div class="uk-width-large-2-3">
                                        <span class="uk-text-large uk-text-middle">{{product.manufacturer}}</span>
                                    </div>
                                </div>
                                <hr class="uk-grid-divider">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-large-1-3">
                                        <span class="uk-text-muted uk-text-small">Serial Number</span>
                                    </div>
                                    <div class="uk-width-large-2-3">
                                        {{product.sn}}
                                    </div>
                                </div>
                                <hr class="uk-grid-divider">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-large-1-3">
                                        <span class="uk-text-muted uk-text-small">Internal Memory</span>
                                    </div>
                                    <div class="uk-width-large-2-3">
                                        {{product.memory}}
                                    </div>
                                </div>
                                <hr class="uk-grid-divider">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-large-1-3">
                                        <span class="uk-text-muted uk-text-small">Color</span>
                                    </div>
                                    <div class="uk-width-large-2-3">
                                        {{product.color}}
                                    </div>
                                </div>
                                <hr class="uk-grid-divider uk-hidden-large">
                            </div>
                            <div class="uk-width-large-1-2">
                                <p>
                                    <span class="uk-text-muted uk-text-small uk-display-block uk-margin-small-bottom">Tags</span>
                                    <span class="uk-badge uk-margin-small-right" ng-class="{'uk-badge-success': $index != 1, 'uk-badge-primary': $index == 1}" ng-repeat="tag in product.tags">{{tag}}</span>
                                </p>
                                <hr class="uk-grid-divider">
                                <p>
                                    <span class="uk-text-muted uk-text-small uk-display-block uk-margin-small-bottom">Description</span>
                                    {{product.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Options
                        </h3>
                    </div>
                    <div class="md-card-content large-padding">
                        <div class="uk-grid" data-uk-grid-margin ng-repeat="group in product.options">
                            <div class="uk-width-medium-2-10">
                                <span class="uk-display-block uk-margin-small-top uk-text-large">{{group.group_name}}</span>
                            </div>
                            <div class="uk-width-medium-8-10">
                                <table class="uk-table">
                                    <thead>
                                    <tr>
                                        <th class="uk-width-4-10">{{group.option_th}}</th>
                                        <th class="uk-width-3-10">In stock</th>
                                        <th class="uk-width-3-10 uk-text-right">Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="option in group.items">
                                            <td>{{option.name}}</td>
                                            <td>
                                                <i class="material-icons uk-text-success md-24" ng-if="option.in_stock">&#xE834;</i>
                                                <i class="material-icons md-24" ng-if="!option.in_stock">&#xE835;</i>
                                            </td>
                                            <td class="uk-text-right">{{option.difference}} {{option.price | currency : "$" : 2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="md-fab-wrapper">
    <a class="md-fab md-fab-primary" ui-sref="restricted.ecommerce.product_edit">
        <i class="material-icons">&#xE150;</i>
    </a>
</div>