    <div id="page_content">
        <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">Blank Page</h3>

            <div class="md-card">
                <div class="md-card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda, dolore ipsum minus neque omnis ut velit. Blanditiis natus nostrum rem voluptatum? Magnam odit repellat sequi ullam? Accusantium at distinctio error eum explicabo facere necessitatibus quam unde. Amet aspernatur consequuntur corporis deleniti dolorem doloribus eius eum, itaque libero nobis porro possimus sit tenetur vitae voluptate! Corporis distinctio dolore est et harum hic ipsam laboriosam laudantium quisquam temporibus veniam veritatis vitae, voluptates? In labore obcaecati praesentium quod quos! Animi, aperiam autem cupiditate dicta dolores esse illo iste iusto libero odit optio, quidem quod quos repellendus soluta suscipit veritatis. Iure, vero voluptatum!
                </div>
            </div>

        </div>
    </div>
