    <div class="error_page_header">
        <div class="uk-width-8-10 uk-container-center">
            500!
        </div>
    </div>
    <div class="error_page_content">
        <div class="uk-width-8-10 uk-container-center">
            <p class="heading_b">Oops! Something went wrong...</p>
            <p class="uk-text-large">
                There was an error. Please try again later.
            </p>
            <a ui-sref="restricted.dashboard">Go to dashboard</a>
        </div>
    </div>