    <div class="error_page_header">
        <div class="uk-width-8-10 uk-container-center">
            404!
        </div>
    </div>
    <div class="error_page_content">
        <div class="uk-width-8-10 uk-container-center">
            <p class="heading_b">Page not found</p>
            <p class="uk-text-large">
                The requested URL <span class="uk-text-muted">/some_url</span> was not found on this server.
            </p>
            <a ui-sref="restricted.dashboard">Go to dashboard</a>
        </div>
    </div>