<div class="md-card md-card-single main-print" id="invoice" single-card>
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text large" id="invoice_name">
            Invoices
        </h3>
    </div>
    <div class="md-card-content">
        <p class="uk-text-center uk-text-large uk-margin-large-top">
            Click the <a ui-sref="restricted.pages.invoices.add" class="uk-badge uk-badge-success"><strong>+</strong></a> button to create a new invoice<br>
            <span class="uk-text-muted">or</span><br>
            open invoice from the list.
        </p>
    </div>
</div>