<div id="page_content">
    <div id="page_content_inner">
        <form action="" class="uk-form-stacked" id="user_edit_form">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img ng-src="assets/img/blank.png" alt="user avatar"/>
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div class="user_avatar_controls">
                                        <span class="btn-file">
                                            <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                            <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                            <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                        </span>
                                    <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                </div>
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b">
                                    <span class="uk-text-truncate" id="user_edit_uname">{{user_data.name}}</span>
                                    <span class="sub-heading" id="user_edit_position">{{user_data.position}}</span>
                                </h2>
                            </div>
                            <div class="md-fab-wrapper">
                                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent" md-fab-toolbar>
                                    <i class="material-icons">&#xE8BE;</i>
                                    <div class="md-fab-toolbar-actions">
                                        <button type="submit" id="user_edit_save" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i class="material-icons md-color-white">&#xE161;</i></button>
                                        <button type="submit" id="user_edit_print" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Print"><i class="material-icons md-color-white">&#xE555;</i></button>
                                        <button type="submit" id="user_edit_delete" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Delete"><i class="material-icons md-color-white">&#xE872;</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user_content">
                            <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                                <li class="uk-active"><a href="#">Basic</a></li>
                                <li><a href="#">Groups</a></li>
                                <li><a href="#">Todo</a></li>
                            </ul>
                            <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-margin-top">
                                        <h3 class="full_width_in_card heading_c">
                                            General info
                                        </h3>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2">
                                                <label for="user_edit_uname_control">User name</label>
                                                <input class="md-input" type="text" id="user_edit_uname_control" name="user_edit_uname_control" ng-model="user_data.name" md-input />
                                            </div>
                                            <div class="uk-width-medium-1-2">
                                                <label for="user_edit_position_control">User position</label>
                                                <input class="md-input" type="text" id="user_edit_position_control" name="user_edit_position_control" ng-model="user_data.position" md-input />
                                            </div>
                                        </div>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <label for="user_edit_personal_info_control">About</label>
                                                <textarea class="md-input" name="user_edit_personal_info_control" id="user_edit_personal_info_control" cols="30" rows="6" ng-model="user_data.about" md-input textarea-autosize>{{user_data.about}}</textarea>
                                            </div>
                                        </div>
                                        <h3 class="full_width_in_card heading_c">
                                            Languages
                                        </h3>
                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-1-1">
                                                <selectize config="user_languages_config" options="user_languages_options" ng-model="user_data.languages" position="bottom" id="user_edit_languages" name="user_edit_languages"></selectize>
                                            </div>
                                        </div>
                                        <h3 class="full_width_in_card heading_c">
                                            Contact info
                                        </h3>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                            </span>
                                                            <label>Email</label>
                                                            <input type="text" class="md-input" name="user_edit_email" ng-model="user_data_contacts.email" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                            </span>
                                                            <label>Phone Number</label>
                                                            <input type="text" class="md-input" name="user_edit_phone" ng-model="user_data_contacts.phone" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                            </span>
                                                            <label>Facebook</label>
                                                            <input type="text" class="md-input" name="user_edit_facebook" ng-model="user_data_contacts.fb" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                            </span>
                                                            <label>Twitter</label>
                                                            <input type="text" class="md-input" name="user_edit_twitter" ng-model="user_data_contacts.twitter" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-linkedin"></i>
                                                            </span>
                                                            <label>Linkdin</label>
                                                            <input type="text" class="md-input" name="user_edit_linkdin" ng-model="user_data_contacts.linkdin" md-input />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-input-group">
                                                            <span class="uk-input-group-addon">
                                                                <i class="md-list-addon-icon uk-icon-google-plus"></i>
                                                            </span>
                                                            <label>Google+</label>
                                                            <input type="text" class="md-input" name="user_edit_google_plus" ng-model="user_data_contacts.g_plus" md-input />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="uk-text-muted uk-text-small">Move the draggable group by clicking and holding handler and drag it to other list.</p>
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">My groups</h4>
                                            <ul class="md-list md-list-addon uk-sortable groups_connected" id="user_groups">
                                                <li data-group-id="group.id" ng-repeat="group in user_data.groups">
                                                    <div class="md-list-addon-element sortable-handler">
                                                        <i class="md-list-addon-icon material-icons">&#xE5D2;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="#">{{group.name}}</a></span>
                                                        <span class="uk-text-small uk-text-muted">{{group.members}} Members</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">All Groups</h4>
                                            <ul class="md-list md-list-addon uk-sortable groups_connected" id="all_groups">
                                                <li data-group-id="group.id" ng-repeat="group in all_groups">
                                                    <div class="md-list-addon-element sortable-handler">
                                                        <i class="md-list-addon-icon material-icons">&#xE5D2;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="#">{{group.name}}</a></span>
                                                        <span class="uk-text-small uk-text-muted">{{group.members}} Members</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <input name="user_groups_control" id="user_groups_control" type="hidden"/>
                                </li>
                                <li>
                                    <ul class="md-list md-list-addon" id="user_todo">
                                        <li class="" ng-class="{'md-list-item-disabled': todo.closed}" ng-repeat="todo in user_data.todo">
                                            <div class="md-list-addon-element">
                                                <input name="todo_item_{{$index}}" type="checkbox" icheck ng-model="todo.closed" />
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" ng-class="{'uk-text-danger': todo.important}">{{todo.title}}</span>
                                                <span class="uk-text-small" ng-class="{'uk-text-danger': todo.important, 'uk-text-muted': !todo.important}">{{todo.description}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-3-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>
                            <div class="uk-form-row">
                                <input type="checkbox" checked id="user_edit_active" ui-switch ng-model="user_data.active" />
                                <label for="user_edit_active" class="inline-label">User Active</label>
                            </div>
                            <hr class="md-hr">
                            <div class="uk-form-row">
                                <label class="uk-form-label">User Role</label>
                                <input config="user_role_config" options="user_role_options" ng-model="user_data.role" name="user_edit_role" selectize />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>