    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-margin-medium-bottom">
                        <div class="uk-width-large-1-2">
                            <form class="uk-form-stacked">
                                <div class="uk-form-row">
                                    <label class="uk-form-label">Choose shipping countries:</label>
                                    <input kendo-auto-complete ng-model="country" k-data-source="countryNames" k-separator='","' k-placeholder='"Select City..."' class="uk-width-1-1" style="min-width: 100%" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <pre class="line-numbers"><code class="language-javascript" prism-highlight>&lt;input kendo-auto-complete ng-model=&quot;country&quot; k-data-source=&quot;countryNames&quot; k-separator='&quot;,&quot;' k-placeholder='&quot;Select City...&quot;' class=&quot;uk-width-1-1&quot; style=&quot;min-width: 100%&quot; /&gt;</code></pre>
                </div>
            </div>

        </div>
    </div>
