    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-margin-large-bottom">
                        <div class="uk-width-large-1-2">
                            <ul kendo-panel-bar>
                                <li>
                                    Metallica - Master of Puppets 1986
                                    <ul>
                                        <li>Battery</li>
                                        <li>Master of Puppets</li>
                                        <li>The Thing That Should Not Be</li>
                                        <li>Welcome Home (Sanitarium)</li>
                                        <li>Disposable Heroes</li>
                                        <li>Leper Messiah</li>
                                        <li>Orion (Instrumental)</li>
                                        <li>Damage, Inc.</li>
                                    </ul>
                                </li>
                                <li>
                                    Iron Maiden - Brave New World 2000
                                    <ul>
                                        <li>The Wicker Man</li>
                                        <li>Ghost Of The Navigator</li>
                                        <li>Brave New World</li>
                                        <li>Blood Brothers</li>
                                        <li>The Mercenary</li>
                                        <li>Dream Of Mirrors</li>
                                        <li>The Fallen Angel</li>
                                        <li>The Nomad</li>
                                        <li>Out Of The Silent Planet</li>
                                        <li>The Thin Line Between Love And Hate</li>
                                    </ul>
                                </li>
                                <li>
                                    Text content
                                    <div style="padding:16px;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi debitis impedit inventore ipsam iure modi molestias nemo odio optio, praesentium quam quisquam rem suscipit. Asperiores beatae doloribus eius praesentium qui?
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;ul kendo-panel-bar&gt;
  ...
&lt;/ul&gt;</code></pre>
                </div>
            </div>

        </div>
    </div>
