    <div id="page_content">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid uk-margin-bottom">
                        <div class="uk-width-large-1-2">
                            <form class="uk-form-stacked uk-margin-bottom">
                                <label class="uk-form-label" for="kUI_timepicker">Basic Example</label>
                                <input kendo-time-picker
                                       ng-model="str"
                                       k-ng-model="obj"
                                       style="width: 100%;"
                                       id="kUI_timepicker"
                                />
                            </form>
<pre><code>str: {{ str }}
obj: {{ obj }}
</code></pre>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;input kendo-time-picker ng-model=&quot;str&quot; k-ng-model=&quot;obj&quot; style=&quot;width: 100%;&quot; id=&quot;kUI_timepicker&quot;/&gt;</code></pre>
                        </div>
                        <div class="uk-width-large-1-2">
                            <form class="uk-form-stacked uk-margin-bottom">
                                <label class="uk-form-label" for="kUI_timepicker">24H Example</label>
                                <input kendo-time-picker k-format="'HH:mm'"
                                       ng-model="str_24h"
                                       k-ng-model="obj_24h"
                                       style="width: 100%;"
                                       id="kUI_timepicker_24h"
                                />
                            </form>
<pre><code>str: {{ str_24h }}
obj: {{ obj_24h }}
</code></pre>
<pre class="line-numbers"><code class="language-markup" prism-highlight>&lt;input kendo-time-picker k-format=&quot;'HH:mm'&quot; ng-model=&quot;str_24h&quot; k-ng-model=&quot;obj_24h&quot; style=&quot;width: 100%;&quot; id=&quot;kUI_timepicker_24h&quot; /&gt;</code></pre>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
